@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #A1C4FD, #C2E9FB);
    color: #212529;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 10px;
    font-family: "VT323", monospace;
    font-size: 8vw;
    color: #00A600;
}

h2 {
    font-size: 3rem;
}

p {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

button {
    background: #0ca311;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #E0E0E0;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s
}

button:hover {
    filter: brightness(1.2)
}

.tile {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--tile-color, #B0BEC5);
    border: 1px solid #999;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .5s ease-in-out, opacity .8s;
}

.tile:hover {
    transform: scale(1.1);
    opacity: .7;
}

.tile[data-revealed] {
    transform: rotateY(360deg);
}

.bg-color-0 { --tile-color: #E6E6E6; }

.bg-color-1 { --tile-color: #007AFF; }

.bg-color-2 { --tile-color: #28A745; }

.bg-color-3 { --tile-color: #DC3545; }

.bg-color-4 { --tile-color: #6F42C1; }

.bg-color-5 { --tile-color: #FD7E14; }

.bg-color-6 { --tile-color: #20C997; }

.bg-color-7 { --tile-color: #343A40; }

.bg-color-8 { --tile-color: #000000; }

@keyframes shake {
    0% { transform: translateX(0); }
    12.5% { transform: translateX(-5px); }
    25% { transform: translateX(5px); } 
    37.5% { transform: translateY(5px); } 
    50% { transform: translateY(-5px); }
    62.5% { transform: translateX(5px); } 
    75% { transform: translateY(-5px); }
    87.5% { transform: translateX(-5px); }
    100% { transform: translateY(5px); } 
}

.mine {
    background: red url("../images/mine.png") no-repeat center/contain;
    animation: shake .5s ease-in-out;
}

.dark-mode {
    background: linear-gradient(135deg, #2A3C8C, #1D2A6D);
    color: #EAEAEA;
}

.container {
    width: 80vh;
    height: 80vh;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid #E0E0E0;
    border-radius: 15px;
    text-align: center;
    font-family: "VT323", monospace;
}

.dark-mode .container {
    background-color: #1E1E1E;
    border-color: #333333;
}

.disabled {
    pointer-events: none;
    opacity: .8;
}

.score-animate {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

@keyframes glow {
    0% { box-shadow: 0 0 40px rgba(255, 0, 0, 0); }
    10% { box-shadow: 0 0 36px rgba(255, 0, 0, 0.2); }
    20% { box-shadow: 0 0 32px rgba(255, 0, 0, 0.4); }
    30% { box-shadow: 0 0 28px rgba(255, 0, 0, 0.6); }
    40% { box-shadow: 0 0 24px rgba(255, 0, 0, 0.8); }
    50% { box-shadow: 0 0 20px rgba(255, 0, 0, 1); }
    60% { box-shadow: 0 0 16px rgba(255, 0, 0, 1); }
    70% { box-shadow: 0 0 12px rgba(255, 0, 0, 0.8); }
    80% { box-shadow: 0 0 8px rgba(255, 0, 0, 0.6); }
    90% { box-shadow: 0 0 4px rgba(255, 0, 0, 0.4); }
    100% { box-shadow: 0 0 0px rgba(255, 0, 0, 0.2); }
}

.hint {
    animation: glow 3s ease-in-out infinite;
} 

#game-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

#game-board {
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1vh solid #E0E0E0;
    border-radius: 1%;
}

@media (orientation: landscape) {
    #game-board {
        width: 75vh;
        height: 75vh;
    }
}

@media (orientation: portrait) {
    #game-board {
        width: 80vw;
        height: 80vw;
    }
}

#instructions {
    flex-direction: column;
}

#level-selector {
    flex-direction: column;
    gap: 10%;
}

#game-board {
    background-color: #606060;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    gap: 2px;
}

#game-over {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
#game-over button {
    font-family: "VT323", monospace;
    font-size: 3rem;
    background-color: #DC3545;
    width: 50%;
    border: 0;
}

#game-over-message {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 8rem;
}

#final-score {
    font-family: "VT323", monospace;
    font-size: 3rem;
}